* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

body {
  background-color: #1c213b;
}

h1 {
  text-align: center;
  margin: 40px;
  color: #FFFFFF;
}

img {
  display: block;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  margin: auto;
  margin-bottom: -20px;
  box-shadow: 1px 20px 20px 0px black;
}

form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  background-color: #d9e3f5;
  padding: 30px;
  border-radius: 25px;
}

input, select {
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.342);
  border-radius: 25px;
}

label {
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 20px;
  padding: 15px;
  width: 25%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 40px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #00ffea, #0066ff, #2600ff, #73e0ee, #00ffd5, #002bff, #001864, #3712bb, #21586d);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1c213b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

/* Media Queries for Responsiveness */
@media (max-width: 2130px) {
  form {
    width: 35%;
    padding: 20px;
  }

  button {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  form {
    width: 50%;
    padding: 20px;
  }

  button {
    width: 50%;
  }
}

@media (max-width: 768px) {
  form {
    width: 90%;
    padding: 20px;
  }

  button {
    width: 50%;
  }
}

@media (max-width: 480px) {
  img {
    width: 20%;
    height: auto;
  }

  form {
    width: 90%;
    padding: 15px;
  }

  button {
    width: 70%;
  }
}
