@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     margin: 0;
     border: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

header {
     margin: 44px 0px 144px 76px;
}

li {
     display: inline-block;
     font-weight: 400;
     font-size: 14px;
     height: 21px;
     width: 83;
     margin-right: 22px;
     cursor: pointer;
}

img {
     display: inline-block;
     margin-left: 125px;
}

section {
     display: inline-block;
     margin-left: 86px;
}

h1 {
     font-weight: 700;
     font-size: 62px;
     width: 582px;
     height: 164px;
     color: #161A49;
     
}

p {
     width: 493px;
     height: 99px;
     font-weight: 400;
     font-size: 18px;
     color: #4B505A;
     margin-top: 62px;
     margin-bottom: 105px;
}

a {
     text-decoration: none;
     width: 112px;
     height: 27px;
     font-weight: 500;
     font-size: 18px;
     color: #6FBF44;
     cursor: pointer;
     
}

.button-header {
     cursor: pointer;
     width: 124px;
     height: 51px;
     font-weight: 500;
     font-size: 16px;
     border-radius: 5px;
     background-color: #6FBF44;
     text-align: center;
     color: white;  
}

@media screen and (max-width: 900px) {
     header {
          display: flex;
          position: absolute;
     }

     ul li {
          display: none;
     }
     
     h1 {
          max-width: 278px;
          height: 60px;
          font-weight: 700;
          font-size: 30px;
          line-height: 30px;
          text-align: center;
          margin: auto;
          margin-top: 124px;
          margin-bottom: 0px;
     }

     p {
          max-width: 304px;
          height: 165px;
          font-weight: 400;
          font-size: 18px;
          line-height: 33px;
          text-align: center;
          margin: auto;
          margin-top: 29px;
          margin-bottom: 0px;
     }

     a {
          max-width: 112px;
          height: 27px;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          text-align: center;
          display: block;
          margin: auto;
          margin-top: 26px;
          
     }

     section {
          display: flex;
          flex-direction: column;
          margin: 0px 43px;
          max-width: 304px;
          
     }

     img {
          max-width: 312px;
          max-height: 288px;
          display: inline-block;
          position: absolute;
          top: 490px;
          margin: 0px 41px 22px 41px;
     }

     .button-header {
          display: inline-block;
          width: 91px;
          height: 31px;
          position: absolute;
          margin-top: -38px;
          margin-left: 177px;

     }
     
     li:nth-child(5) {
          display: inline-block;
          margin-top: 0;
          margin-right: 0;
          
          
     }

     
}